
@font-face {
  font-family: 'Glyphicons Halflings';

  src: url('../fonts/glyphicons-halflings-regular.eot');
  src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff2') format('woff2'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}
.glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.glyphicon-remove-sign:before {
  content: "\e083";
}

.glyphicon-plus-sign:before {
  content: "\e081";
}

.glyphicon-pencil:before {
  content: "\270f";
}

.glyphicon-trash:before {
  content: "\e020";
}

.glyphicon-plus:before {
  content: "\002b";
}

.level1{
  padding-left: 10px !important;
}

.level2{
  padding-left: 40px !important;
}

.level3{
  padding-left: 70px !important;
}

.level4{
  padding-left: 100px !important;
}

.level5{
  padding-left: 130px !important;
}

.level6{
  padding-left: 160px !important;
}

.generaltable{
  width: 80%;
  margin-left: 50px;
}